<table  class="table">
  <thead>
    <tr>
      <th>Created Goals</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Days remained</th>
      <th>Daily Task / Log </th>
      <th>Progress </th>

      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @mygoals.each do |mygoal| %>
      <tr>
        <td><%= link_to mygoal.name, mygoal  %></td>
        <td><%= mygoal.start %></td>
        <td><%= mygoal.start + 100 %></td>
        <td><%= mygoal.start + 100 - Date.today %></td>
        <td><%= link_to "Today", edits_dailygoal_path(:id => mygoal.id) %></td> 
        <td><%= link_to "Progress", indexs_dailygoal_path(:id => mygoal.id) %></td>
        <td><%= link_to 'Show', mygoal %></td>
        <td><%= link_to 'Edit', edit_mygoal_path(mygoal) %></td>
        <td><%= link_to 'Destroy', mygoal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Create A New Goal', new_mygoal_path %>

