<h1>Listing mygoals</h1>
<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>name      </th>
      <th>Start     </th>
      <th>Finish    </th>
      <th>Days      </th>
      <th colspan="10"></th>
    </tr>
  </thead>

  <tbody>
    <% @mygoals.each do |mygoal| %>
      <tr>
        <td><%= mygoal.name %></td>
        <td><%= mygoal.start %></td>
        <td><%= mygoal.start + 100 %></td>
        <td><%= mygoal.start + 100 - Date.today %></td>
        <td><%= link_to 'Show', mygoal %></td>
        <td><%= link_to 'Edit', edit_mygoal_path(mygoal) %></td>
        <td><%= link_to 'Destroy', mygoal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>
<br>

<%= link_to 'New Mygoal', new_mygoal_path %>
