<h1>My Goals</h1>
<% @mygoals.each do |mygoal| %>
  <h2>MY GOAL: <%= mygoal.name %></h2>
  <h2>99 days to go</h2>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100" style="width: 1%;">
      <span class="sr-only">1% Complete</span>
    </div>
  </div>
<% end %>

<<<<<<< HEAD
  <tbody>
    <% @mygoals.each do |mygoal| %>
      <tr>
        <td><%= link_to mygoal.name, edits_dailygoal_path(:id => mygoal.id )  %></td>
        <td><%= mygoal.start %></td>
        <td><%= mygoal.start + 100 %></td>
        <td><%= mygoal.start + 100 - Date.today %></td>
        <td><%= link_to 'Show', mygoal %></td>
        <td><%= link_to 'Edit', edit_mygoal_path(mygoal) %></td>
        <td><%= link_to 'Destroy', mygoal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>
<br>

<%= link_to 'New Mygoal', new_mygoal_path %>
=======
<%= link_to 'NEW GOAL', new_mygoal_path %>
>>>>>>> bf3cc5ca1200f3418dc518f3f04e006f4789a739
