<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mygoal.name %>
</p>

<p>
  <strong>Start:</strong>
  <%= @mygoal.start %>
</p>

<p>
  <strong>Finish:</strong>
  <% @mygoal.finish =  @mygoal.start + 100 %>
  <%= @mygoal.finish %>
</p>

<p>
  <strong>Days Till Dream Come True:</strong>
  <% @mygoal.days = @mygoal.finish - Date.today%>
  <%= @mygoal.days %>
</p>

<%= link_to 'Edit', edit_mygoal_path(@mygoal) %> |
<%= link_to 'View All', mygoals_path %>
