<h1>Listing badgets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @badgets.each do |badget| %>
      <tr>
        <td><%= badget.name %></td>
        <td><%= badget.level %></td>
        <td><%= link_to 'Show', badget %></td>
        <td><%= link_to 'Edit', edit_badget_path(badget) %></td>
        <td><%= link_to 'Destroy', badget, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Badget', new_badget_path %>
